<html>
    <head>
        <link rel="stylesheet" href="/static/css/launch.css">
        <title></title>
    </head>
    <body>
        <div class="container">
            <a href="/controls?mode=2">
                <button>Start Virtual Webcam</button>
            </a>
            <a href="/controls?mode=0">
                <button>Start Windowed Output</button>
            </a>
            <a href="/controls?mode=1">
                <button>Start Fullscreen Output</button>
            </a>
        </div>
    </body>
</html>