body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.container button {
    display: block;
    font-size: large;
    padding: 2vh;
    margin: 2vh;
}